
*{
    margin: 0px;
    padding: 0px;
}

button{
    padding: 7px 10px;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}
.banner{
    background-image: url(./images/banner/banner2.png);
    /* background-attachment: fixed; */
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
}
.banner-info{
    width: 700px;
    float: right;
    margin-top: 300px;
    text-align: right;
    padding-right: 35px;
    margin-right: 205px;

}
.banner-info h1{
    font-size: 42px;
    font-weight: 900;
    
}
.banner-info p{
    font-size: 22px;
}
.banner-info button{
    background-color: #F15B22;
    padding: 20px 26px;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    margin-top: 30px;
    border: none;
}
/*=======================about section css style  =============================*/

.about{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 130px 230px;
}
.about-photo{
    /* width: 450px; */
   
}
.about-info{
    
    width: 400px;
    
}
.about-info h1{
    font-family: 'Work Sans';
    font-weight: 700;
    font-size: 40px;
}
.about-info p{
    font-weight: 400;
    font-size: 22px;
}
.about-info ul li{
    list-style: none;
    font-size: 19px;
    margin-top: 8px;
}
.about-info ul li .fa-check{
    color: green;
}

 /*=================== My plan css style  =====================*/
.my-plan{
   padding-bottom: 20px;
   padding-top: 10px;
   margin-left: 130px;
   margin-right: 130px;
}
.my-plan h1{
    text-align: center;
    font-family: 'Work Sans';
    margin-top: 130px;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 40px;
}
.plan{
    display: flex;
    justify-content: space-around;
}
.plan-details{
    
    width: 218px;
    height: 195px;
    margin-left: 80px;
}
.plan-icon{
   
    width: 93px;
    height: 93px;
    margin-left: 27px;
    
}
.plan-title h4{
 font-size: 25px;
 font-weight: 700;
}
.plan-title p{
    color: #737272;
    font-size: 22px;
    font-weight: 500;
}

/*====================== blog  css style  ==========================*/

.blog{

}
.blog h1{
    text-align: center;
    font-size: 45px;
    font-weight: bolder;
    margin-bottom: 50px;
    margin-top: 50px;
}
.blog-info{
    display: flex;
    justify-content: space-around;
    margin-left: 200px;
    margin-right: 200px;
    cursor: pointer;
    
}
.blog-card{
    width: 300px;
 border-radius: 10px;
    border: 1px solid gray;
    background: rgb(155, 151, 151);
}
.blog-card-info{
    text-align: center;
    padding-top: 10px ;
    padding-bottom: 15px;
  
}
.blog-card-info h3{
    font-size: 25px;
}
.blog-card-info p{
    font-size: 17px;
}
.blog-photo img{
    width: 100%;
    height: 150px;
}

/* ==================  Contact css style  ====================== */
.contact{
    background-image: linear-gradient(to left,  rgba(255,0,0,0), rgba(255,0,0,0.3)), url(./images/watch.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    margin: 20px 230px;
    padding: 30px 20px;
    border-radius: 10px;
    margin-top: 135px;
}
.contact-title{
    height: 182px;
    width: 459px;
    margin-left: 64px;
   padding-top: 50px;
}
.contact-title button{
   color: #F15B22;
   padding: 15px 20px;
   border-radius: 5px;
   border: none;
}
.contact-title h2{
    font-family: Work Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    text-align: left;
    color: #FFFFFF;
    
    

}


/*================== footer css style ===================*/
.footer{
    display: flex;
    justify-content: space-around;
    background-color: #000;
    height: 477px;
    color: white;
    margin-top: 130px ;
}
.footer-left h2{
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 700;

}
.footer-left p{
    font-family: Work Sans;
   font-size: 22px;
   font-weight: 400;
   line-height: 26px;

}
.footer-left h5{
    font-family: Work Sans;
    font-size: 22px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 15px;

}
.footer-icon img{
    margin-left: 17px;
    cursor: pointer;
}
.footer-left{
    width: 485px;
    height: 317px;
    left: 230px;
    padding-top: 120px;
    
}

.footer-right{
    width: 485px;
    height: 317px;
    /* margin-left: 450px; */
    padding-top: 120px;
}

.footer-right h3{
    font-family: Work Sans;
   font-size: 35px;
    font-weight: 600;
  
}
.footer input{
    padding: 15px 15px;
    font-size: 17px;
    border-radius: 10px;
}
.footer button{
    color:  #F15B22;
    background: white;
    border-radius: 10px;
    padding: 15px 20px;
    font-size: 22;
    
}
